:root {
    --primary-color : #E7E9EA;
    --secondary-color : #1A8CD8;
    --secondary-background-color : #16181C;
}
.post{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rowpost1{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
.rowpost1-2{
    width: 100%;
    position: absolute;
    padding-top: 8%;
    padding-left: 75%;
}

.rowpost1>img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
}
.rowpost1>h1{
    padding-top: 10px;
}
.rowpost1>svg{
    padding-top: 35px;
}
.rowpost1>p{
    padding-top: 21px;
}